<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://JAVA.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" 
         version="3.0">
         
         <servlet>
         	<servlet-name>My REST service</servlet-name>
         	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
         		<init-param>
         			<param-name>jersey.config.server.provider.packages</param-name>
         			<param-value>packageName,com.fasterxml.jackson.jaxrs.json</param-value>
         		</init-param>
         		<init-param>
                   <param-name>javax.ws.rs.Application</param-name>
                    <param-value>packageName.MyXMLSerializer</param-value>
                 </init-param>
         		
         </servlet>
         
         <servlet-mapping>
         	<servlet-name>My REST service</servlet-name>
         	<url-pattern>/demo/*</url-pattern>
         </servlet-mapping>
         
         
      
        <security-constraint>
         <display-name>PostsRestrictions</display-name>
            <web-resource-collection>
           <web-resource-name> PostsRestriction</web-resource-name>
            <url-pattern>/demo/post/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
          </web-resource-collection>
          <auth-constraint>
            <role-name>loggedInUsers</role-name>
           </auth-constraint>
          <user-data-constraint>
             <transport-guarantee>CONFIDENTIAL</transport-guarantee>
          </user-data-constraint>
        </security-constraint>
        
          
       <security-constraint>
         <display-name>Get Users</display-name>
            <web-resource-collection>
           <web-resource-name> GET Users</web-resource-name>
            <url-pattern>/demo/user/*</url-pattern>
            <http-method>GET</http-method>
          </web-resource-collection>
          <auth-constraint>
            <role-name>Admins</role-name>
           </auth-constraint>
          <user-data-constraint>
             <transport-guarantee>CONFIDENTIAL</transport-guarantee>
          </user-data-constraint>
        </security-constraint>
        
        <security-constraint>
         <display-name>Update Password</display-name>
            <web-resource-collection>
           <web-resource-name> Update Password</web-resource-name>
            <url-pattern>/demo/user/</url-pattern>
            <http-method>PUT</http-method>
          </web-resource-collection>
          <auth-constraint>
            <role-name>loggedInUsers</role-name>
           </auth-constraint>
          <user-data-constraint>
             <transport-guarantee>CONFIDENTIAL</transport-guarantee>
          </user-data-constraint>
        </security-constraint>
        
          
        
  <login-config>
     <auth-method>DIGEST</auth-method>
     <realm-name>default</realm-name>
   </login-config>
  <security-role>
    <role-name>loggedInUsers</role-name>
     <role-name>Admins</role-name>
    
  </security-role>
   
</web-app>
